[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
drf-problems = "*"
django-autoslug = "*"
django-extensions = "*"
pillow = "*"
drf-jwt = "*"
drf-writable-nested = "*"
djangorestframework-simplejwt = "*"
dj-rest-auth = "*"
django-allauth = "*"
django-multitenant = "*"
django-environ = "*"

[requires]
python_version = "3.9"
